<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  # If the requested resource is not a file and not a directory
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d

  # Send everything else to index.html
  RewriteRule . /index.html [L]
</IfModule>